/*
styles for slick carousel
 */

.slider {
        width: 90%;
        margin: 20px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }

    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }

    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }

.slider img{
  margin: 30px auto;
}

.slider:hover img {
  opacity:0.2;
  display: block;
}

.slider text {
  opacity:0;
  display: block;
}
.slider:hover text {
  opacity:1;
  display: block;
}

.slider-slide {
  position:relative;
}
.slider-text{
  opacity: 0;
  position:absolute; 
  margin: 20px;
  bottom: 0; 
  width:100%; 
  vertical-align:middle;
  text-align:center;
  font-size: 16px;
  font-size: 1.8vw; 
}

.slider-slide:hover .slider-text {
  opacity: 100;
  position:absolute; 
  margin: 20px;
  bottom: 0; 
  width:100%; 
  padding: 50px 0 0 0;
  vertical-align:middle;
  text-align:center;
  font-size: 16px;
  font-size: 1.8vw; 
}

.slider-text h3{
  font-size: 16px;
  font-size: 1.8vw; 
}

.coauthors {
  font-style: italic;
  font-size: 75%;
}