{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="pub" itemscope itemtype="http://schema.org/CreativeWork">

  {{ partial "header_image.html" . }}

  <div class="article-container">
    <h1 itemprop="name">{{ .Title }}</h1>
    <span class="pub-authors" itemprop="author">
      {{ with .Params.authors }}
      {{ delimit . ", " | markdownify }}
      {{ end }}
    </span>
    <span class="pull-right">
      {{ partial "share.html" . }}
    </span>

    {{ if .Params.image }}
    <img src="{{ "/img/" | relURL }}{{ .Params.image }}" class="pub-banner" itemprop="image">
    {{end}}

    {{ if .Params.abstract }}
    <h3>{{ i18n "abstract" }}</h3>
    <p class="pub-abstract" itemprop="text">{{ .Params.abstract | markdownify }}</p>
    {{ end }}

    <div class="row">
      <div class="col-md-12 col-md-8">

        {{ if (.Params.publication_types) and (ne (index .Params.publication_types 0) "0") }}
        <div class="row" style="padding-left: 18px">
          <div class="row">
            <div class="col-xs-12 col-sm-3 pub-row-heading">{{ i18n "publication_type" }}</div>
            <div class="col-xs-12 col-sm-9">
              {{ range $index, $pubtype := .Params.publication_types }}
              <a href="{{ ($.Site.GetPage "section" "publication").Permalink }}#{{ . | urlize }}">
                {{ index $.Site.Params.publication_types (int .) }}
              </a>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="visible-xs space-below"></div>
        {{ end }}

        {{ if .Params.publication }}
        <div class="row" style="padding-left: 18px">
          <div class="row">
            <div class="col-xs-12 col-sm-3 pub-row-heading">{{ i18n "publication" }}</div>
            <div class="col-xs-12 col-sm-9">{{ .Params.publication | markdownify }}</div>
          </div>
        </div>
        <div class="visible-xs space-below"></div>
        {{ end }}

        <div class="row" style="padding-left: 18px">
          <div class="row">
            <div class="col-xs-12 col-sm-3 pub-row-heading">{{ i18n "date" }}</div>
            <div class="col-xs-12 col-sm-9" itemprop="datePublished">
              {{ .Date.Format ($.Site.Params.publications.date_format | default "January, 2006") }}
            </div>
          </div>
        </div>
        <div class="visible-xs space-below"></div>

        <div class="row" style="padding-top: 10px; padding-left: 18px">
          <div class="row">
            <div class="col-xs-12 col-sm-3 pub-row-heading" style="line-height:34px;">{{ i18n "links" }}</div>
            <div class="col-xs-12 col-sm-9">

              {{ partial "publication_links" (dict "content" . "is_list" 0) }}

            </div>
          </div>
        </div>
        <div class="visible-xs space-below"></div>

      </div> <!-- col-xm-12 col-md-8 -->

      <div class="col-md-12 col-md-4">
        {{ if .Params.doi }}
          <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
          <div class="row" style="padding-top: 10px; padding-left: 20px">
            <div class="row">
              <div data-badge-popover="left" data-badge-details="right" data-badge-type="medium-donut" data-doi={{ .Params.doi }} 
                    data-link-target='_blank' data-hide-no-mentions="true" data-hide-less-than="100" class="altmetric-embed"></div>
            </div>
          </div>
          <div class="visible-xs space-below"></div>
        {{ end }}
      </div> <!-- col-xm-12 col-md-4 -->

    </div> <!-- row -->
    
    <div class="row">

      <div class="col-md-12 col-md-12">
        {{ if .Params.url_media }}
        <div class="row" style="padding-top: 10px; padding-left: 18px">
            <div class="row">
              <div class="col-xs-12 col-sm-2 pub-row-heading" style="line-height:34px;">{{ i18n "media" }}</div>
              <div class="col-xs-12 col-sm-10">

                {{ partial "media_links" (dict "content" . "is_list" 0) }}

              </div>
            </div>
        </div>
        <div class="visible-xs space-below"></div>
        {{ end }}
      </div> <!-- col-md-12 col-md-12 -->

    </div> <!-- row -->

    <div class="space-below"></div>

    <div class="article-style">{{ .Content }}</div>

    {{ partial "tags.html" . }}

  </div>
</div>

{{ if .Site.Params.section_pager }}
<div class="article-container article-widget">
  {{ partial "section_pager.html" . }}
</div>
{{ end }}

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
